@{
    ViewData["Title"] = "About the Midterm";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This area is normally for additional info, but I don't really have any addition info to provide.</p>

