@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Jason Asselin<br />
    123 Fake Street<br />
    Barrie, ON <br />
    705-555-5555
</address>

<address>
    <strong>Support: No support, costs too much</strong><br />
    <strong>Marketing: No marketing, costs too much</strong> 
</address>
