@{
    ViewData["Title"] = "Welcome to My Midterm Page!";
}
<h2>@ViewData["Title"]</h2>

<br>
<p> Thank you for visiting my Midterm Page! Please feel free to browse around. About and Contact have both
    been altered.. just for fun!</p>
<br>
<p>The purpose of this site is to show what the name, first and last, address and birthday are for students.</p>
<p>Any student and infomation with the student can be edited or deleted.</p>

<p><b><i>Enjoy my Midterm Page!!</i></b></p>

<style>
    p {
        font-size: 20px;
        font-family: Arial;
        text-align: center;
    }

    h2 {
        font-weight: bold;
        font-family: Arial;
        text-align: center;
        font-size: 75px;
        text-decoration: underline;
    }
</style>